#content {
    position: relative;
    margin: auto auto;
    width: 800px;
    height: 230px;
}

.floatLeft {
    float: left;
}

input.btn-search {
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
    color: #585858;
    font-size: 14px;
    line-height: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    font-weight: bold;
}