html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#content {
    width: 800px;
    height: 230px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.floatLeft {
    float: left;
}

#content .floatLeft {
    margin: auto auto;
}

input.btn-search {
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 20px 20px 20px 20px;
    background-color: #fff;
    color: #585858;
    font-size: 14px;
    line-height: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    font-weight: bold;
}