#stats {
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px;
}

header {
    width: 99%;
    height: 50px;
    background-color: lightgray;
    margin: 0 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

header .floatLeft:first-child {
    min-width: 150px;
    text-align: center;
}
header .floatLeft:nth-child(2) {
    margin: 10px 0 0 0;
}

header .floatLeft:nth-child(3) {
    margin: 2px 0 0 10px;
}

header .statistics {
    font-size: 10px;
}

#content {
    position: relative;
    margin: 10px 0 0 15px;
}

.list-results h5 {
    margin-bottom: 0px;
}

.ranking-jac {
    width: 80px;
    text-align: center;
    font-style: italic;
}

.website-preview {
    width: 125px;
}

.website-description {
    text-align: justify;
    font-size: 12px;
}

.website-url {
    font-style: italic;
    font-size: 10px;
}